@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan";
}




:root {
  --body-bg: hsl(222, 26%, 31%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --button-bg: hsl(225, 21%, 49%);
  --button-shadow: hsl(224, 28%, 35%);
  --red: hsl(6, 63%, 50%);
  --dark-red: hsl(6, 70%, 34%);
  --grey-orange: hsl(30, 25%, 89%);
  --grey-shadow: hsl(28, 16%, 65%);
  --txt: hsl(221, 14%, 31%);
  --white: #fff;
  --title: #fff;
}
.dark{
    --body-bg:  hsl(0, 0%, 90%);
  --keypad-bg:  hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --button-bg:  hsl(185, 42%, 37%);
  --button-shadow: hsl(185, 58%, 25%);
  --red: hsl(25, 98%, 40%);
  --dark-red: hsl(25, 99%, 27%);
  --grey-orange:  hsl(45, 7%, 89%);
  --grey-shadow: hsl(35, 11%, 61%);
  --txt: hsl(60, 10%, 19%);
  --white: #fff;
  --title : hsl(60, 10%, 19%);
}
html {
  height: 100%;
}
body {
  background-color: var(--body-bg);
  height: 100%;
  display: grid;
  place-items: center;
}
.items {
  .top {
    display: flex;
    align-items: baseline;
    font-size: 28px;
    color: var(--title);
    span {
      margin-right: auto;
    }
    #theme{
        color: var(--red);
        height: 24px;
        width: 49px;
        margin-right: 5px;
        .outer{
          height: 100%;
          width: 100%;
          background-color: var(--grey-orange);
          border-radius: 20px;
          display: flex;
          align-items: center;
          border: 3px solid var(--button-shadow);
          position: relative;
        }
        .inner{
          width: 50%;
          height: 75%;
          border-radius: 50px;
          margin: auto 3px;
          background: var(--button-bg);
          position: absolute;
          transition: all 0.2s ease;
        }
        .theme2{
          left: 16px;
          transition: all 0.2s ease;
          animation: switch 0.2s ease;
        }
        @keyframes switch {
          // from{
            
          // }
          to{
            left: 16px;
          }
        }
    }
    margin-bottom: 20px;
  }
  .output {
    height: 100px;
    background-color: var(--screen-bg);
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    &:hover{
        button{
            opacity: 1;
        }
    }
    
    button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        transition: 0.3s ease;
        opacity: 0;
        svg{
          height: 25px;
          color: #fff;
          fill: rgb(221, 221, 221);
          width: 30px;
          margin: 0 10px 0 20px;
          &:active{
            fill: white;
          }
        }
    }

    .input{
      // background-color: grey;
      width: 400px;
      margin: auto 0;
      overflow-y: hidden;
    }
    input{
      color: var(--title);
      background-color: #0000;
      border: none;
      outline: none;
      text-align: right;
      overflow: auto;
      font-size: 32px;
        padding: 25px 10px 10px 10px;
        height: 80%;
        width: 100%;
        &::placeholder{
          color: grey;

        }
      }
  }
  .buttons {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    border-radius: 9px;
    margin-top: 15px;
    background-color: var(--keypad-bg);
    button {
      background-color: var(--grey-orange);
      border: none;
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 9px;
      box-shadow: 0 3px 0 var(--grey-shadow) ;
      // , 0px 0 10px var(--button-shadow) 
        color: var(--txt);
        // display: grid;
        padding-top: 8px;
        &:active{
            background-color: var(--grey-shadow);
            position: relative;
            top: 3px;
        }
    }
    .red{
        background-color: var(--red);
        box-shadow: 0 3px 0 var(--dark-red);
        color: var(--white);
        grid-column-start: 3;
        grid-column-end: 5;
        &:active{
            background-color: var(--dark-red);
            position: relative;
            top: 3px;
            box-shadow: inset 0 4px 10px #0003;
        }
    }
    .blue{
        background-color: var(--button-bg);
        box-shadow: 0 3px 0 var(--button-shadow);
        color: var(--white);
        font-size: 18px;
        padding-top: 4px;
        &:active{
            background-color: var(--button-shadow);
            position: relative;
            top: 3px;
        }
    }
    .reset{
        grid-column-start: 1;
        grid-column-end: 3;

    }
  }
}


::-moz-selection { 
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

@media screen and (max-width: 600px ){
  body{
  }
  .items{
    .top{
      width: 350px;
      margin: 0 auto 20px;
    }
    .output{
      width: 350px;
      margin: 0 auto;
    }
    .buttons{
      width: 350px;
    }
  }
}